[Unit]
Description=mouseless

[Service]
ExecStartPre=/bin/sleep 2
ExecStart=/usr/local/bin/mouseless --config /home/silver/.config/mouseless/config.yaml

[Install]
WantedBy=multi-user.target
