include "keymap.kdl"
include "startups.kdl"
include "windowrule.kdl"
include "animation.kdl"
include "env.kdl"
// "/-" comments out the following node.
workspace "wechat"
workspace "special"

input {
    keyboard {
        xkb {
            options "ctrl:nocaps"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
    }

    trackpoint {
    }

    mod-key "Alt"
    mod-key-nested "Super"
}

output "eDP-1" {
    off

    mode "1920x1080@120.030"
    scale 2

    transform "normal"
    position x=1280 y=0
}

output "HDMI-A-1" {
    mode "2560x1440@60"
    scale 1
    position x=0 y=0
}

cursor {
  hide-when-typing
  hide-after-inactive-ms 5000
}

layout {
    gaps 5

    center-focused-column "never"

    always-center-single-column
    preset-column-widths {
        proportion 0.45
        proportion 0.55
        proportion 0.8
        proportion 1.0
    }

    default-column-width { proportion 0.8; }

    // You can change how the focus ring looks.
    focus-ring {
        off
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        width 2
        active-color "#bd93fa"
        inactive-color "#44475aaa"
    }

    shadow {
    }

    tab-indicator {
      off
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    struts {}
}

// 取消左上角进入 overview
gestures {
    hot-corners {
        off
    }
}

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d-%H-%M-%S.png"
prefer-no-csd // 取消窗口标题栏

overview {
  workspace-shadow {
    off
  }
}

xwayland-satellite {
   // off
    path "xwayland-satellite"
}

// 开机不显示帮助
hotkey-overlay {
  skip-at-startup
}
