spawn-at-startup "waybar"
spawn-at-startup "dunst"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-at-startup "swww-daemon"
spawn-sh-at-startup "swww img ~/Pictures/wallpaper/21:9/ranni_ageOfStars.jpg"
spawn-sh-at-startup "fcitx5 -d"
spawn-at-startup "udiskie"
spawn-sh-at-startup "nohup $HOME/.scripts/mpv-bilibili.py > /dev/null 2>&1 /dev/null"
spawn-sh-at-startup "mbsync -a"
spawn-sh-at-startup "swaybg -i ~/Pictures/wallpaper/21:9/universe.jpg"
spawn-sh-at-startup "niri msg action focus-workspace 3"
spawn-sh-at-startup "~/.config/niri/scripts/niri_resetxdgportal.sh"
