window {
  margin: 0;
  padding: 0;
  font-family: "Sarasa Term SC";
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #bd93fa;
  box-shadow: none;
  border: none;
}

#input {
  margin: 8px;
  border-radius: 24px;
  border: 2px solid #af9ebc; 
  background-color: rgba(0,0,0,0.6);
}

#outer-box, #inner-box, #entry, #scroll {
  all: unset;
  background-color: transparent;
}

#entry {
  min-height: 0px;
  margin: 0;
  padding: 0;
}

#main {
  all: unset;
}
